body {
    background-color: $main-color-bg;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 170%;
}

// Main style

.hide {
    overflow: hidden;
}

main {
    overflow-x: hidden;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;    
    padding-top: 130px;

    @include media-mobile {
        padding-top: 50px;
    }
}

.hide .header {
    position: static;
}

.main-width {
    max-width: 1390px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

// Hover button mobile store

.mobile-store a:hover {
    border-image-source: linear-gradient(135.68deg, #B679D2 1.9%, #79AFD2 36.17%, #8FD89A 81.87%, #F0DD75 128.53%, #E8735C 181.84%); filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    border-image-slice: 1;
    color: $color-white;
}

// Rubric icon style

.rubric {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #B370FF;
    opacity: 0.6;
    margin-bottom: 25px;

    .icon_rubric {
        max-width: 10px;
        margin-right: 8px;
        font-size: 10px;
        vertical-align: middle;
    }
}

// Show More style

.show-more {
    display: flex;
    justify-content: flex-end;

    .show-more-link {
        position: relative;

        &:hover::after {
            border-color: $color-hover;
        }
        
        &::after {
            content: '';
            position: relative;
            left: 0;
            width: 8px;
            height: 8px;
            border-bottom: solid 1px $color-white;
            border-left: solid 1px $color-white;
            display: inline-block;
            transform: rotate(225deg);
            margin-left: 15px;
            transition: all 0.3s;
        }
    }
}

// View More style

.view-more {
    margin: 30px 20px;
}

// Typography

h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
    margin-right: 10px;

    @include media-laptop {
        font-size: 18px;
    }
}

h2, .title {
    font-weight: 800;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include media-mobile {
        font-size: 35px;
    }
}

.subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
}

.hero-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;

    @include media-1300 {
        font-size: 60px;
    }
    @include media-mobile {
        font-size: 40px;
        margin-bottom: 15px;
    }
}

.title-post {
    font-weight: 600;
    font-size: 50px;
    line-height: 140%;

    @include media-1000 {
        font-size: 40px;
    }
}

// Hero page style

.hero {
    padding-bottom: 90px;
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 55px 0 45px;

        @include media-mobile {
            flex-direction: column;
        }
    } 

    &__title {
        max-width: 49%;
        width: 100%;

        @include media-mobile {
            max-width: 100%;
        }
    }

    &__image {
        max-width: 49%;
        width: 100%;
        text-align: right;

        @include media-mobile {
            max-width: 60%;
        }
    }

    &__info {

        @include media-1200 {
            justify-content: center;
            flex-direction: column;
        }

        @include media-mobile {
            padding: 15px;
        }

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 4px;
        padding: 15px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap
    }

    &__social-wrapp {

        @include media-1300 {
            margin-top: 15px;            
        }

        @include media-1200 {
            order: 1;
        }

        @include media-mobile {
            margin-top: 0;
            flex-direction: column;
        }

        display: flex;
        align-items: center;
    }


    &__mobile-store {

        @include media-1200 {
            order: 1;
            margin-bottom: 15px;
            margin-right: -20px;
        }

        @include media-mobile {
            text-align: center;
            margin-right: 0;
            display: flex;
            flex-direction: column;
        }
    }

    &__mobile-store-link {
        display: inline-block;
        padding: 13px 30px;
        border: solid 1px;
        border-radius: 6px;
        margin-right: 20px;
        border-image-source: linear-gradient(135.68deg, $color-white 1.9%, $color-white 36.17%, $color-white 81.87%, $color-white 128.53%, $color-white 81.84%); 
        filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
        border-image-slice: 1;

        @include media-mobile {
            margin-bottom: 15px;
            margin-right: 0;
        }

        i {
            margin-right: 14px;
        }
    }

    &__arrow-wrapp {

        @include media-1200 {
            margin-bottom: 15px;
        }
    }

    &__message {

        @include media-mobile {
            margin-bottom: 15px;
        }

        max-width: 300px;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.02em;

    }

    &__social {

        @include media-mobile {
            margin-left: -30px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__social-link {
        margin-left: 30px;
    }
}

// Accordion page style

.accordion {
    padding: 200px 0;

    @include media-tablet {
        padding: 100px 0;
    }

    @include media-mobile {
        padding: 50px 0;
    }

    &__wrapp {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        max-width: 49%;
        width: 100%;

        @include media-tablet {
            display: none;
        }
    }

    &__content {
        max-width: 49%;
        width: 100%;

        @include media-tablet {
            max-width: 100%;
        }
    }

    &__content-wrapp {
        max-width: 655px;
    }

    // Accordion open-close style

    &__content-title {
        cursor: pointer;
        position: relative;

        &::after, &::before {
            content: '';
            display: block;
            background-color: $color-white;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {            
            width: 18px;
            height: 3px;
            right: 15px;
            
        }

        &::before {            
            width: 3px;
            height: 18px;
            right: 22px;
            transition: all 0.3s;
        }
    }

    &__content-item {
        padding: 50px;

        @include media-tablet {
            padding: 30px;
        }
    }

    &__content-item.accordion-open {
        background: rgba(67, 122, 115, 0.1);
        backdrop-filter: blur(88px);
        border-radius: 4px;

        .accordion__content-title {
            margin-bottom: 32px;
        }
    }

    &__content-description {
        position: absolute;
        opacity: 0;
        transition: all 0.3s;
    }
    .accordion-open .accordion__content-description {
        height: 100%;
        opacity: 1;
        position: static;

        .accordion__content-title {

            &::before {            
                width: 3px;
                height: 0;
                right: 22px;
            }
        }
    }

    .accordion-open {

        .accordion__content-title {

            &::before {            
                width: 3px;
                height: 0;
                right: 22px;
            }
        }
    }
}

// Earn page style

.earn {
    padding-top: 100px;
    background-color: $second-color-bg;

    @include media-tablet {
        padding-top: 50px;
    }

    &__wrapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        max-width: 35%;
        width: 100%;
        position: relative;

        @include media-mobile {
            display: none;
        }

        .image-small {
            position: absolute;
            left: -50%;
            bottom: 10%;
        }
    }

    &__content {
        max-width: 51%;
        width: 100%;

        @include media-mobile {
            max-width: 100%;
        }

        p {
            margin-bottom: 55px;
            max-width: 85%;
        }
    }

    &__button {
        display: inline-block;
    }
}

// Welcome page style

.welcome {
    padding: 200px 0;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-mobile {
        padding: 50px 0;
    }

    &__subtitle {
        margin-bottom: 55px;
    }

    &__mobile-store {
        margin-right: -20px;

        @include media-mobile {
            margin-right: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

// Form page style

.contact-form {
    padding-top: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;    

    &__wrapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-1200 {            
            flex-direction: column;
            align-items: center;
        }

        .title {

            @include media-1200 {
                text-align: center;
            }

            @include media-mobile {
                text-align: left
            }
        }

        .subtitle {

            @include media-1200 {
                text-align: center;
            }

            @include media-mobile {
                text-align: left
            }
        }
    }

    &__description {
        width: 100%;
        max-width: 43%;

        @include media-1200 {
            margin-bottom: 50px;
            max-width: 100%;
        }
    }

    // Form style

    &__form {
        width: 100%;
        max-width: 665px;
        padding: 65px;
        border: solid 1px;
        border-image-source: linear-gradient(135.68deg, #B679D2 1.9%, #79AFD2 36.17%, #8FD89A 81.87%, #F0DD75 128.53%, #E8735C 181.84%);
        filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
        border-radius: 6px;
        border-image-slice: 1;
        background-color: $color-black;

        @include mediaWidthMobileSmall {
            padding: 30px;
        }

        input {
            color: rgba($color: #ffffff, $alpha: 0.6);
            padding: 10px 16px;
            border-bottom: 1px solid $color-white;
            max-width: 560px;
            width: 100%;
            margin-bottom: 25px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
        }

        .form-name-wrapp {
            display: flex;
            justify-content: space-between;

            @include media-mobile {
                flex-direction: column;
            }

            input {
                max-width: 260px;

                @include media-mobile {
                    max-width: 100%;
                }
            }
        }

        .agree-wrapp {
            display: flex;

            input[type="checkbox"] {
                max-width: none;
                width: auto;
                margin-right: 16px;
            }
        }

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: $color-white;
        }

        input[type="submit"] {
            border-radius: 4px;
            border: 1px solid $color-white;
            font-weight: 600;
            color: $color-white;
            letter-spacing: 0.5px;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                border-image-source: linear-gradient(135.68deg, #B679D2 1.9%, #79AFD2 36.17%, #8FD89A 81.87%, #F0DD75 128.53%, #E8735C 181.84%);
                filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
                border-image-slice: 1;
                border-radius: 4px;
            }
        }

        .links-agree {
            padding-left: 3px;

            a {
                font-weight: 600;
                text-decoration-line: underline;
                color: $color-white;
    
                &:hover {
                    color: rgba($color: #ffffff, $alpha: 0.6);
                }
            }
        }

        .checkbox-agree-wrapp {
            margin-bottom: 50px;            
            cursor: pointer;  
            
            label, input {
                cursor: pointer;
            }
        }

        .checkbox-agree label {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        input[type=checkbox] {
            width: 24px;
            height: 24px;
            margin: 5px 16px 5px 0;
            position: relative;
        }

        input[type=checkbox]:before {
            content: "";
            color: transparent;
            display: inline-block;
            border: 1px solid $color-white;
            border-radius: 2px;
            font-size: 20px;
            font-weight: 900;
            line-height: 22px;
            margin: -5px 5px 0 0;
            height: 24px;
            width: 24px;
            text-align: center;
            vertical-align: middle;
            transition: color ease .3s;
            background-color: $color-black;
        }

        input[type=checkbox]:checked:after {
            content: '';
            display: block;
            height: 10px;
            width: 6px;
            border-bottom: 2px solid $color-white;
            border-right: 2px solid $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotate(45deg) translate(calc(-50% - 4px), calc(-50% - -1px));

        }
    
    }
}

// Post preview style

.post-preview {
    padding: 30px 0 140px 0;

    @include media-tablet {
        padding-bottom: 50px;
    }

    &__wrapp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @include media-1000 {
            flex-direction: column-reverse;
        }
    }

    &__image {
        max-width: 49%;
        width: 100%;

        @include media-1000 {
            max-width: 100%;
        }
    }

    &__content {
        max-width: 41%;
        width: 100%;

        @include media-1000 {
            max-width: 100%;
            margin-bottom: 20px;
            max-width: 665px;
            margin-right: auto;
        }
    }

    &__quote {
        line-height: 170%;;
        opacity: 0.8;
        font-weight: 400;
        margin-bottom: 25px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.post-list {
    padding: 125px 0 200px;

    @include media-tablet {
        padding: 50px 0;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 100%;
        max-width: 32%;
        padding: 20px 0;

        @include media-1000 {
            max-width: 49%;
            margin-bottom: 20px;
        }

        @include media-mobile {
            max-width: 100%;
        }
    }

    &__image {
        max-width: 435px;
        max-height: 320px;
        overflow: hidden;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        img {
            width: auto;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-transform: none;
        margin-bottom: 15px;
    }

    &__quote {
        margin-bottom: 15px;
        opacity: 0.8;
    }
}

// Post style

.post {
    padding: 40px 0 85px;
    
    .title-post {
        margin-bottom: 70px;

        @include media-1000 {
            font-size: 40px;
        }

        @include media-mobile {
            margin-bottom: 30px;
        }
    }

    &__sub-block-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__sub-block-image {
        margin-bottom: 70px;
        flex:  0 1 100%;

        @include media-mobile {
            margin-bottom: 30px;
        }
        
        img {
            max-width: 100%;
        }
    }

    &__sub-block-text {
        max-width: 70%;
        margin: 0 auto 70px;   
        
        @include media-mobile {
            margin-bottom: 30px;
            max-width: 80%;
        }

        p {
            margin-bottom: 12px;
            opacity: 0.8;

            a {
                color: $color-link-post;
                font-weight: 600;

                &:hover {
                    color: $color-link-post-hover;
                }
            }
        }

        .sub-block-title {
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            text-transform: uppercase;
        }
    }

    .share-block {
        padding: 17px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-mobile {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        &__wrapp {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .social-link {
                margin-left: 40px;
            }
        }

        &__title {
            display: block;
            padding-bottom: 2px;
            border-bottom: solid 1px;
            line-height: 1;
            margin-right: 10px;
        }

        .written-by {
            font-size: 18px;
            line-height: 170%;
            margin-right: 28px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @include media-mobile {
                margin-bottom: 20px;
                margin-right: 0;
            }

            span {
                display: inline-block;
            }
            
            &__written {
                font-weight: 400;  
                margin-right: 28px; 
                
                @include media-mobile {
                    font-size: 16px;
                }
            }

            &__name {
                font-weight: 600;
                margin-right: 16px;

                @include media-mobile {
                    font-size: 14px;
                }
            }

            &__image {
                width: 54px;
                height: 54px;
                
                img {
                    width: 100%;
                }
            }
        }
    }
}