// For color
$main-color-bg: #0A0722;
$second-color-bg: #0B0622;
$color-footer-bg: #00030C;
$color-white: #ffffff;
$color-black: #000000;
$colot-mark: #0A0722;
$color-hover: #B370FF;


// For device
$mediaWidthMobile: 767px;
$mediaWidthTablet: 991px;
$mediaWidthLaptop: 1060px;
$width1300: 1300px;
$width1200: 1200px;
$mediaWidthMobileSmall: 500px;

@mixin media-tablet {
    @media (max-width: $mediaWidthTablet) {
        @content;
    }
}

@mixin media-laptop {
    @media (max-width: $mediaWidthLaptop) {
        @content;
    }
}

@mixin media-mobile {
    @media (max-width: $mediaWidthMobile) {
        @content;
    }
}

@mixin media-1300 {
    @media (max-width: $width1300) {
        @content;
    }
}

@mixin media-1200 {
    @media (max-width: $width1200) {
        @content;
    }
}

@mixin mediaWidthMobileSmall {
    @media (max-width: $mediaWidthMobileSmall) {
        @content;
    }
}

@mixin media-custom {
    @media (max-width: $width) {
        @content;
    }
}
